@model WebUI.Core.Mvc.Models.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <script src="~/js/pca.js" type="module"></script>
    <link rel="stylesheet" href="~/css/HomeControllerStyling/overview.css"></link>

</head>
<body>
<br>
<br>

<div class="welcomeCard" style="display: block">
    <div class="card-body">
        @if (Model != null)
        {
            
        <span>
            <h5 class="card-title" id="WelcomeMessage">Welcome @Model.DisplayName
                <p class="pCustomerName">@Model.Customer.Name</p>
            </h5>
            <hr/></span>
        <div class="userInfo">
            <p><strong>Name: </strong>@Model.GivenName @Model.SurName</p>
            <p><strong>Email: </strong>@Model.Mail</p>
            <p><strong>Phone: </strong>+45 @Model.MobilePhone</p>
            <p><strong>Address: </strong>@Model.OfficeLocation</p>
            <p><strong>Job Title: </strong>@Model.JobTitle</p>
            <p><strong>Access: </strong>@Model.Access.ToString()</p>
        </div>
        }
    </div>
</div>
<br>
<br>
<div class="col-md-4">
    <div class="list-group" id="list-tab" role="tablist">
    </div>
</div>
<div class="col-md-5">
    <div class="tab-content" id="nav-tabContent">
    </div>
</div>
<br>
<br>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
@* <script src="content/Microsoft.AspNetCore.Components.WebAssembly.Authentication/AuthenticationService.js"></script> *@


</body>
</html>

