@model List<User>
@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/users.css"></link>
</head>
<h1>Users</h1>
<div class="usersDiv">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Location</th>
            <th class="actionsTableHeader">Actions</th>
        </tr>
        </thead>
        <tbody>
        <hr/>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.DisplayName</td>
                <td>@user.Mail</td>
                <td>@user.OfficeLocation</td>
                <td>
                    <form class="viewProfileForm" 
                          asp-controller="Home" 
                          asp-action="ViewProfile" 
                          method="post" 
                          asp-route-userId="@user.UserId"
                          >
                        <button class="actionButton" type="submit">View
                        </button>
                    </form>
                    <form class="editAccessForm" asp-controller="Management" asp-action="EditAccess" method="post"
                          asp-route-userId="@user.UserId">
                        <button class="actionButton" type="submit">Edit Access</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>